<template>
    <div class="panel panel-default">
        <div class="panel-body">
            Complete Order


            <p>Order#:{{ order.id}}</p>

            <pre>
                {{order}}
            </pre>



        </div>

    </div>
</template>

<script>
    export default {
        props: [ 'order' ],
        mounted: function(){
            console.log('completeOrder mounted');
            console.log(this.completeOrder);

        }
    }
</script>