<template>
    <div>
        <app-complete-order v-show="showCompleteOrder" v-bind:order="completeOrder"></app-complete-order>

            <div class="panel panel-default"  v-show="!showCompleteOrder">

                <div class="panel-heading">
                    Customize Pizza:  <b>{{ pizza.name }}</b>
                </div>


                <div class="panel-body">
                    <ul class="col-md-6">
                        <li class="form-control" v-for="ingredient in pizza.ingredients" :ingred="ingredient">{{ingredient.name}} &nbsp;<span class="label label-info">{{ingredient.cost_price}} EUR</span>

                            <div class="pull-right">
                                <button class="btn btn-sm btn-danger btn-rmv" @click="removeIngredient(ingredient)"> <span class="glyphicon glyphicon-remove"></span> </button>
                                <button class="btn btn-sm btn-up" @click="moveUpIngredient(ingredient)"  v-show="showUpButton(ingredient)"> <span class="glyphicon glyphicon-arrow-up"></span> </button>
                                <button class="btn btn-sm btn-dwn" @click="moveDownIngredient(ingredient)"  v-show="showDownButton(ingredient)"> <span class="glyphicon glyphicon-arrow-down"></span> </button>
                            </div>
                        </li>
                    </ul>

                    <ul class="col-md-6">
                        <li class="form-control" v-for="ingredient in unusedIngredients" :ingred="ingredient">{{ingredient.name}} &nbsp;<span class="label label-info">{{ingredient.cost_price}} EUR</span>
                            <button class="btn btn-sm btn-success pull-right" @click="addIngredient(ingredient)"><span class="glyphicon glyphicon-ok"></span> </button>
                        </li>
                    </ul>

                    <hr>

                    <div class="col-md-12">
                        <ul class="price-total">
                            <li>Raw meterials: <span>{{ getRowMaterialsTotal }}</span> EUR</li>
                            <li>Baking fee: <span>{{ getPreparationCosts }}</span> EUR</li>
                            <li>To pay: <span>{{ getPrice }}</span> EUR</li>
                        </ul>

                    </div>

                    <div class="col-md-12">
                        <button class="btn btn-primary pull-right" @click="makeOrder">Make Order!</button>
                    </div>

                </div>


                <div class="panel-footer">

                </div>
            </div>

    </div>
</template>

<script>

    import Ingredient from './ingredient.vue';
    import CompleteOrder from './complete-order.vue';

    export default {
        data(){
            return {
                pizza: { id:'',name: '', ingredients: []},
                unusedIngredients: [],
                price: 0.00,
                showCompleteOrder: false,
                completeOrder: {id:0, user_id:0}
            }
        },
        components: {
            'app-ingredient': Ingredient,
            'app-complete-order': CompleteOrder,
        },
        computed:{
            getPrice: function(){
                return (Math.round( (this.getRowMaterialsTotal*1 + this.getPreparationCosts*1) * 100) /100).toFixed(2);
            },
            getRowMaterialsTotal: function(){
                var total = 0;

                this.pizza.ingredients.forEach(function(elem){
                    total +=  elem.cost_price *1;
                });

                return (Math.round(total *100) /100).toFixed(2);
            },
            getPreparationCosts: function(){
                return (Math.round(this.getRowMaterialsTotal * 0.5 *100) /100).toFixed(2);
            },

        },
        methods:{
            getPizza(id){

                axios.get('/api/pizza/'+ id+'/get' )
                        .then(
                                (response) => {
                    this.pizza = response.data;
                    this.unusedIngredients  = response.data.ingredientsInStock;
                }
            )
            .catch(function(error){
                    console.log(error);
                });

            },
            removeIngredient(ingredient){
                this.unusedIngredients.push(ingredient);
                var index = this.pizza.ingredients.indexOf(ingredient);
                this.pizza.ingredients.splice(index, 1);
            },
            addIngredient(ingredient){
                this.pizza.ingredients.push(ingredient);

                var index = this.unusedIngredients.indexOf(ingredient);
                this.unusedIngredients.splice(index, 1);
            },
            moveUpIngredient(ingredient){
                var index = this.pizza.ingredients.indexOf(ingredient);

                if(index != 0){
                    this.pizza.ingredients.splice(index-1, 0, ingredient)
                    this.pizza.ingredients.splice(index+1, 1)
                }
            },
            moveDownIngredient(ingredient){
                var index = this.pizza.ingredients.indexOf(ingredient);

                if(index != (this.pizza.ingredients.length-1) ){
                    this.pizza.ingredients.splice(index+2, 0, ingredient)
                    this.pizza.ingredients.splice(index, 1)
                }
            },
            showUpButton(ingredient){
                return (this.pizza.ingredients.indexOf(ingredient) != 0);
            },
            showDownButton(ingredient){
                return (this.pizza.ingredients.indexOf(ingredient) != (this.pizza.ingredients.length-1) );
            },
            makeOrder(){
                axios.post('/api/pizza/make-order',
                    {
                        pizza: this.pizza
                    }
                ).then((response) =>{
                    if(response.status == 201){
                        this.completeOrder = response.data.message;
                        this.showCompleteOrder = true;
                        this.$router.push('/order/'+response.data.message.id)
                    }
                }).catch((error)=>{
                    console.log(error);
                });
            }
        },
        mounted: function(){
            this.getPizza(this.$route.params.id);

        }


    }
</script>

<style>
    .btn {
        margin:1px;
    }

    .btn-rmv{
        display: block;
        position: absolute;
        right:30px;
    }

    .btn-up{
        display: block;
        position: absolute;
        right:66px;
    }
    .btn-dwn{
        display: block;
        position: absolute;
        right:101px;
    }
    li {
        margin: 5px;
    }

    .price-total{
        list-style-type: none;
    }

    .price-total li{
        text-align: right;
    }
    .price-total li span{
        display: inline-block;
        width: 50px;
    }
</style>