<template>
    <div>
        Ingredients:
        <!--<app-inredient v-for="ingredient in ingredients" :ingred="pizza"></app-inredient>-->
    </div>
</template>

<script>
    import Ingredient from './ingredient.vue';

    export default {
        data(){
            return {
                pizzas: [ ]
            }
        },
        components: {
            'app-ingredient': Ingredient
        },
        methods: {
            onGetPizzas(){

                axios.get('/api/pizza')
                        .then(
                                (response) => {
                    this.pizzas = response.data.pizzas;
            }
            )
            .catch(function(error){
                    console.log(error);
                });

            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>