<template>

    <div>


        <form @submit.prevent="onSubmitted" class="form-horizontal" >
            <div class="form-group">
                <label for="name" class="control-label col-md-2 col-sm-3 col-xs-3">Name</label>
                <div class="col-md-10 col-sm-9 col-xs-9">
                    <input
                            type="text"
                            id="name"
                            class="form-control"
                            placeholder="Enter name of new pizza"
                            v-model="pizzaName">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-info">Create new pizza</button>
                </div>
            </div>
        </form>

    </div>
</template>

<script>
    export default {
        data(){
            return {
                pizzaName: '',
            }
        },
        methods: {
            onSubmitted() {
                axios.post('/api/pizza', {name: this.pizzaName})
                        .then(
                                function (response) {
                                    this.$router.push('/');

                                })
                        .catch(
                                function (error) {
                                    console.log(error);
                                });
                this.pizzaName = '';
            }
        }
    }
</script>