<template>
    <div>
        <h4>Your order #{{ orderId}}</h4>

        <ul>
            <li>Order Created: {{order.created_at}}</li>
            <li> pizza:
                <ul>
                    <li v-for="pizza in order.ordered_pizzas">
                        Name: {{pizza.pizza.name }} (price: {{pizza.sell_price }} EUR)
                        <p>Ingredients (sorted in the selected order) :
                        <ul>
                            <li v-for="ingredient in pizza.ingredients">
                                {{ingredient.ingredient.name}}
                            </li>
                        </ul>
                        </p>

                    </li>

                </ul>
            </li>
        </ul>


    </div>

    </div>
</template>

<script>
    export default {
//        props: [ 'pz' ]

        data(){
            return {
                orderId: '-',
                order: {}
            }
        },
        methods: {
            getOrder(){
                axios.get('/api/pizza/get-order/' + this.orderId,
                        {}
                ).then((response) => {
                    console.log(response.data.message);

                if (response.status == 201) {
                    this.order = response.data.message;
                }

            }).
                catch((error) => {
                    console.log(error);
            })
                ;
            }
        },
        mounted(){
            this.orderId = this.$route.params.id;
            this.getOrder();
        }
    }
</script>