<template>
    <div class="panel panel-default">
        <div class="panel-body">
                <router-link :to="{name:'customizepizza', params:{id: pz.id}}">{{ pz.name}}</router-link>
        </div>

    </div>
</template>

<script>
    export default {
        props: [ 'pz' ]
    }
</script>