<template>
    <div>
        <h4>Hi, please select pizza you want to modify and order!</h4>

        <app-pizza v-for="pizza in pizzas" :pz="pizza"></app-pizza>
    </div>
</template>


<script>
    import Pizza from './pizza.vue';

    export default {
        data(){
            return {
                pizzas: [ ]
            }
        },
        components: {
            'app-pizza': Pizza
        },
        methods: {
            onGetPizzas(){

                axios.get('/api/pizza')
                        .then(
                                (response) => {
                                    this.pizzas = response.data.pizzas;
                                }
                        )
                        .catch(function(error){
                            console.log(error);
                        });

            }
        },
        mounted() {
            this.onGetPizzas();

        }
    }
</script>
